.container_CampoDeBusca{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_CampoDeBusca div{
    position: relative;
    display: inline-block;
    width: 100%;
}

.container_CampoDeBusca div input{
    font-size: 14px;
    width: 100%;
    padding-left: 45px;
    height: 50px;
    border-radius: 25px;
}

.container_CampoDeBusca div img{
    width: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
}