.container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    flex: 1 1 400px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 20px -4px #000000;
}


.card img{
    width: 100%;
    height: auto;
}

.card p{
    font-weight: bold;
}

.card h4{
    font-size: 24px;
}