@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.topo{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.topo div{
  width: 100%;
  max-width: 1024px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topo div img{
  width: 100px;
  height: 100px;
}

.topo div button{
  border: 1px solid #B2987D;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secao_banner{
  width: 100%;
  height: 30vh;
  background-image: url('/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.secao_conteudo{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secao_conteudo div{
  width: 100%;
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.assinatura{
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-size: 50px;
  color: #B2987D;
}