.rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rodape_conteudo{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container_conteudo{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.container_midia{
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container_midia img{
    width: 45px;
    height: 45px;
}

.rodape_dev{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Tema Escuro */
.dark_mode{
    background-color: #252525;
    color: #cccccc;
}

.dark_mode span{
    color: #feb633;
}

.dark_mode .rodape_dev{
    border-top: 1px solid #747272;
    font-weight: bolder;
}

/* Tema Claro */
.light_mode{
    background-color: #fff;
    color: #8a8fa3;
}

.light_mode span{
    color: #feb633;
}

.light_mode .rodape_dev{
    border-top: 1px solid #cccccc;
    font-weight: bolder;
}