.container{
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0 auto;
  background-color: gray;
  flex-wrap: wrap;
}
