.container_card{
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    flex-wrap: nowrap;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #daa520;
}

.card_imagem{
    height: 250px;
    width: 100%;
}

.card_imagem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.card_conteudo{
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 10px;
    gap: 5px;
    background-color: #f3f3f3;
}

.card_conteudo small{
    color: #daa520;
}

.card_preco{
    padding: 10px;
    text-align: right;
    font-weight: 600;
}