@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 100px;
  color: #fff;
  text-shadow: 3px 5px 2px #474747;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  color: #fff;
}

span {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
