.secao_banner{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container_imagem{
    width: 50%;
    height: 100%;
    background-image: url('/banner.jpg');
    background-size: cover;
    background-position: center;
}

.container_texto{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    text-align: left;
    color: #022144;
}

.container_texto p{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container_texto h2{
    font-size: 50px;
    font-weight: normal;
}

.container_texto span{
    font-size: 50px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .container_imagem{
        display: none;
    }

    .container_texto{
        width: 100%;
    }
}